{% extends "base_for_mails.html" %}

{% block title %}Przywracanie hasła{% endblock %}

{% block article_title %}Forgot Password{% endblock %}

{% block js %}
    <script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.15.0/jquery.validate.min.js"></script>
	<script src = "/js/messages_pl.js"></script>
	<script src="/js/app.js"></script>
    <script>
       
        $(document).ready(function() {

            /**
             * Validate the form
             */
            $('#formPassword').validate({
                rules: {
                    password: {
                        required: true,
                        minlength: 6,
						maxlength: 20,
                        validPassword: true
                    }
                },
				errorElement : 'div' ,
				errorClass: 'my-alert-warning', 
				errorPlacement: function(error, element) {
				  var placement = $(element).data('error');
				  if (placement) {
					$(placement).append(error);
				  } else {
					error.insertAfter(element);
				  }
				}
            });
        });
    </script>

{% endblock %}

{% block body %}

	<h1 class = "mt-3" style = "color: #ee9209;">Reset hasła</h1>
	
	{% if user.errors is not empty %}
        <p>Errors:</p>
        <ul>
            {% for error in user.errors %}
                <li>{{ error }}</li>
            {% endfor %}
        </ul>
    {% endif %}

    <form method="post"  id="formPassword" action="/password/reset-password">

		<input type = "hidden" name = "token" value = "{{ token }}" />

        <div class="form-group">
			<label for="inputPassword" class = "d-block">Hasło</label>

			<div class = "d-inline-block"><div class = "inputIcon align-top d-flex align-items-center justify-content-center"><i class="icon-key"></i></div></div><input type="password" class="form-control d-inline-block align-top mb-2" name ="password" id = "inputPassword" data-error="#errPass" placeholder="Hasło" required>
			
			<div class="errorTxt">
				<span id="errPass"></span>
			</div>
			
		</div>

        <button type="submit" class="btn myButtons">Reset hasła</button>
		
    </form>
			
		
{% endblock %}
