{% extends "base_after_login.html" %}

{% block title %}Bilans{% endblock %}


{% block js %}

	<script src = "/js/dates.js"></script>
	<script type = "text/javascript" src="https://www.gstatic.com/charts/loader.js"></script> 
	<script type = "text/javascript">
	
				// Load google charts
		google.charts.load('current', {'packages':['corechart']});
		google.charts.setOnLoadCallback(drawChart);

		// Draw the chart and set the chart values
		function drawChart() {
		  var dataIncome = google.visualization.arrayToDataTable([
		  ['Task', 'Cost'],
		  <?php 
		  foreach ($incomesFromPeriod as $income){
			echo "['".$income['name']."',".$income['SUM(incomes.amount)']."],";
		  }
		  ?>
		]);

		var dataExpense = google.visualization.arrayToDataTable([
		  ['Task', 'Cost'],
		  <?php 
		  foreach ($expensesFromPeriod as $expense){
			echo "['".$expense['name']."',".$expense['SUM(expenses.amount)']."],";
		  }
		  ?>
		]);

		  // Optional; add a title and set the width and height of the chart
		  var optionsIncome = {
			  title:'Przychody', 
			  backgroundColor:'transparent', 
			  pieSliceBorderColor: '#bfbfbf',
			  width: 600,
			  height: 400
			  };
			var optionsExpense = {
			  title:'Wydatki', 
			  backgroundColor:'transparent', 
			  pieSliceBorderColor: '#bfbfbf',
			  width: 600,
			  height: 400
			  };

		  // Display the chart inside the <div> element with id="piechart"
		  var chartIncome = new google.visualization.PieChart(document.getElementById('piechartIncome'));
		  chartIncome.draw(dataIncome, optionsIncome);
		  var chartExpense = new google.visualization.PieChart(document.getElementById('piechartExpense'));
		  chartExpense.draw(dataExpense, optionsExpense);
		}
	
	</script>

{% endblock %}

{% block dates %}

	 onload = "createPeriodDates();"

{% endblock %}

{% block body %}

   <header><h2 class = "h3 mt-2 ">PRZEGLĄD BILANSU</h2></header>
									
									<section class = "my-border-bottom p-3">
									
									<form class = "d-flex flex-column justify-content-center align-items-center m-1" method = "post" name = "tables">
										
											<div class="form-group">
											  <label for="period">Okres:</label>
											  <select id="period" class="form-control " data-style = "test" onchange = "createPeriodDates();">
												<option>Bieżący rok</option>
												<option>Poprzedni miesiąc</option>
												<option selected>Bieżący miesiąc</option>
												<option >Niestandardowy</option>
											  </select>
											</div>
										
											 <div class="form-group">
												<label for="startDate" >Od daty:</label>
												<div class = "row align-items-center">
												<div class = "inputIcon d-flex align-items-center justify-content-center"></div><input type="date" class="form-control " id="startDate"  name ="startDate" required>
												</div>
											 </div>
											 
											 <div class="form-group">
												<label for="endDate" >Do daty:</label>
												<div class = "row align-items-center">
												<div class = "inputIcon d-flex align-items-center justify-content-center"></div><input type="date" class="form-control " id="endDate"  name="endDate"required>
												</div>
											 </div>
										  
											<div class = "form-group mt-3">
												<button type="submit" class="btn myButtons" >Pokaż<i class="icon-forward"></i></button>
											</div>
											
											
											 
									</form>
									
									</section>
									
									<?php
												if (isset($_SESSION['noActivity'])) {
													echo '<div style = "color: red; font-size: 14px; margin-bottom: 5px;" >'.$_SESSION['noActivity'].'</div>';
													unset($_SESSION['noActivity']);
												}else{

													
												}													
												
											
									?>
									
									<section class = "my-border-bottom p-3">
								
									<div class = "row g-0 ">
									<h3 class = "sr-only">Tables</h3>
										<div class = "col-xl-6 d-flex justify-content-center mt-3">
										
											<table id = "tableIncome">
							
												<caption>Przychody</caption>
												<tr>
													<th>Kategoria</th>
													<th>Kwota</th>
												</tr>
												<?php
												$incomeSum = 0;
													foreach ($incomesFromPeriod as $income) {
														echo "<tr><td>{$income['name']}</td><td>{$income['SUM(incomes.amount)']}</td></tr>";
														$incomeSum = $incomeSum + $income['SUM(incomes.amount)'];
													}
												?>
											</table>
										
										</div>
										
										<div class = "col-xl-6 d-flex justify-content-center mt-3">
										
											<table id = "tableExpense">
							
												<caption>Wydatki</caption>
												<tr>
													<th>Kategoria</th>
													<th>Kwota</th>
												</tr>
												<?php
												$expenseSum = 0;
													foreach ($expensesFromPeriod as $expense) {
														echo "<tr><td>{$expense['name']}</td><td>{$expense['SUM(expenses.amount)']}</td></tr>";
														$expenseSum = $expenseSum + $expense['SUM(expenses.amount)'];
													}
												?>
											
											</table>
										
										</div>
									</div>
								</section>
									
								<section class = "my-border-bottom p-3">
								
									<div class = "row g-0 ">
									<h3 class = "sr-only">Piecharts</h3>
										<div class = "col d-flex justify-content-center mt-3">
										
											<div id = "piechartIncome"></div>
										
										</div>
										
										<div class = "col d-flex justify-content-center mt-3">
										
											<div id = "piechartExpense"></div>
										
										</div>
									</div>
									
								</section>
								
								<section>
								
									
									<h3 class = "sr-only">Summary</h3>
									<div class = "row justify-content-center">
									<div class = "d-flex flex-column justify-content-center align-items-center summary">
										
										Suma przychodów: <span  style = "color: green;"><?php echo $incomeSum;?></span> <br />
										Suma wydatków: <span  style = "color: red;"><?php echo $expenseSum;?></span> <br />
										Bilans: <?= ($incomeSum - $expenseSum) >= 0 ? '<span  style = "color: green;">'.$incomeSum - $expenseSum.'</span> <br />
										<span style = "color: green;">Gratulacje! Dobrze dbasz o budżet.</span>' :   '<span  style = "color: red;">'.$incomeSum - $expenseSum.'</span> <br />
										<span style = "color: red;">Uważaj! Wpadasz w długi.</span>'?>
										
										
										<div class = "mt-3 mb-3">
											<button type="button" class="btn   myButtons" onclick = "window.location.href='balance.php';">Powrót<i class="icon-reply"></i></button>
										</div>
									</div>
									</div>
									
								</section>

{% endblock %}
