{% extends "base_after_login.html" %}

{% block title %}Wydatki{% endblock %}


{% block js %}

	<script src = "/js/dates.js"></script>
	<script>
		function checkCategoryLimit(){
			var expensePrice = $('input[name="expensePrice"]').val();
			var expenseCategory = $('input[name="expenseCategory"]:checked').val();
			$.post("/expenses/limit" , {
				expensePrice: expensePrice,
				expenseCategory: expenseCategory
			}, function( data, status){
				$("#limit").html(data);
			});
		};
		$(document).ready(function(){
		$(".target").change(checkCategoryLimit).keyup(checkCategoryLimit);
		});
	
	</script>

{% endblock %}

{% block dates %}

	onload = "setActualDate('expenseDate');"

{% endblock %}

{% block body %}

   <header><h2 class = "h3 mt-2 ">DODAWANIE WYDATKU</h2></header>
									
	<form class = "d-flex flex-column justify-content-center align-items-center" method = "post"  action = "/expenses/add">
		
			<div class="form-group">
				<label for="expensePrice" >Kwota (zł):</label>
				<div class = "row align-items-center">
				<div class = "inputIcon d-flex align-items-center justify-content-center"><i class="icon-tag"></i></div><input type="number" class="form-control target" name="expensePrice" step = "0.01" min = "0.01" required  placeholder = "00,00">
				</div>
			</div>
			
			<div id = "limit"></div>
		
			 <div class="form-group">
				<label for="expenseDate" >Data</label>
				<div class = "row align-items-center">
				<div class = "inputIcon d-flex align-items-center justify-content-center"><i class="icon-calendar"></i></div><input type="date" class="form-control " name="expenseDate"  id = "expenseDate" required>
				</div>
			 </div>
		  
		  <fieldset class = "form-group border p-2 col-9 ">
				<legend class="w-auto">Sposób płatności</legend>
				<div class = "row text-left ml-4">
				
				{% for paymentMethods in paymentMethods %}
				
					{% if loop.first %}
					<div class="form-check  offset-3 offset-sm-4 offset-md-0 col-md-6 col-lg-4">
					  <input class="form-check-input" type="radio" name="paidType" id = "{{paymentMethods.name}}" value = "{{paymentMethods.name}}" checked >
					  <label class="form-check-label" for="{{paymentMethods.name}}" >{{paymentMethods.name}}</label>
					</div>
					{% else %}
					<div class="form-check  offset-3 offset-sm-4 offset-md-0 col-md-6 col-lg-4">
					  <input class="form-check-input" type="radio" name="paidType" id = "{{paymentMethods.name}}" value = "{{paymentMethods.name}}"  >
					  <label class="form-check-label" for="{{paymentMethods.name}}" >{{paymentMethods.name}}</label>
					</div>
					{% endif %}
					
				{% endfor %}
				</div>
		
			</fieldset>
			
			<fieldset class = "form-group border p-3 col-12 ">
				<legend class="w-auto">Kategoria</legend>
				<div class = "row text-left ml-4">
				
				{% for expenseCategory in expenseCategory %}
				
					{% if loop.first %}
					<div class="form-check offset-3 offset-sm-4 offset-md-0 col-md-6 col-lg-4  col-xl-3 ">
					  <input class="form-check-input target" type="radio" name="expenseCategory" id = "{{expenseCategory.name}}" value = "{{expenseCategory.name}}" checked>
					  <label class="form-check-label" for="{{expenseCategory.name}}">{{expenseCategory.name}}</label>
					</div>
					{% else %}
					<div class="form-check offset-3 offset-sm-4 offset-md-0 col-md-6 col-lg-4  col-xl-3 ">
					  <input class="form-check-input target" type="radio" name="expenseCategory" id = "{{expenseCategory.name}}" value = "{{expenseCategory.name}}">
					  <label class="form-check-label" for="{{expenseCategory.name}}">{{expenseCategory.name}}</label>
					</div>
					{% endif %}
		
				{% endfor %}
					
				</div>
				
			</fieldset>
		  
		 <div class="form-group">
			<label for="remarkExpense">Komentarz (opcjonalnie):</label>
			<div class = "row align-items-center">
			<div class = "inputIcon d-flex align-items-center justify-content-center"><i class="icon-info"></i></div><input type="text" class="form-control" name="remarkExpense">
			</div>
		 </div>
		<div class = "row justify-content-center">
			<div class = "form-group mx-3">
				<button type="submit" class="btn myButtons">Dodaj<i class="icon-ok"></i></button>
			</div>
			<div class = "form-group mx-3">
				<button type="reset" class="btn myButtons">Usuń<i class="icon-cancel"></i></button>
			</div>
		</div>
		
		{% for message in flash_messages %}
        <div class=" my-alert-{{ message.type }} mb-3">
            {{ message.body }}
        </div>
		{% endfor %}
		 
	</form>
	
				
	

{% endblock %}
